<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level  %logger{35}[%line]- %msg%n</pattern>
        </encoder>
    </appender>

    <!--
	<logger name="cl.uchile.sti.model" level="DEBUG"/>
	<logger name="cl.uchile.sti.arq.registro.errores" level="DEBUG"/>
    <logger name="cl.uchile.sti.pa.bean" level="DEBUG"/>
    <logger name="cl.uchile.sti.authorization" level="DEBUG" />
	    <logger name="org.springframework" level="DEBUG" />
    <logger name="cl.uchile.sti.pa.util.EnviaMail" level="DEBUG" />-->
    <logger name="cl.nativ.operativa.authorization.security.AuthorizationRealm" level="DEBUG"/>
	<logger name="org.apache.ibatis" level="DEBUG" />
    <logger name="org.mybatis" level="DEBUG" />
	<!--<logger name="log4j.logger.org.hibernate.engine.transaction.spi" level="DEBUG"/>
	<logger name="log4j.logger.org.hibernate.SQL" level="DEBUG"/>-->

	
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</included>